:root{
    --color-white:#fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;  
    --color-dark5: #343434;;
    --color-verdinho:#3f7967b5;
}

*{ 
  margin: 0px;
  padding: 0px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color:var(--color-dark1);
  color: var(--color-white);
}




header {
    background-color:var(--color-verdinho);
    box-shadow: 1px 1px 4px var(--color-dark4);
    height: 3.5em;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0% 10%;   
}

a{
    text-decoration: none;
    color: var(--color-white);
    font-weight: bold;
}

.sessao1{
margin:auto;
padding: 5%;
text-align: left;
}

/* .container{ 
 display: block;
 width: 99%;
 height: 10px;
 padding: 5px;
}
*/

footer {
  padding: 3px;
  border-width: 1px;
  border-style: ridge;
  border-color: black;
 background-color: var(--color-verdinho);  
}