header {
    background-color: rgba(114, 209, 143, 0.671);
}

.container{
 position:absolute;
}


footer {
  padding: 3px;
  border-width: 1px;
  border-style: ridge;
  border-color: black;
 background-color: rgba(114, 209, 143, 0.671);  
}